body{
    background-color: whitesmoke;
    max-width: 100vw;
    margin: 0 auto;
}

.users_header{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.users_title{
    text-align: center;
    left: 50em;
    margin-top: 1em;
    font-size: 2em;
    font-weight: 900;
    width: 30%;
}

.users_btn{
    width: 20%;
    max-width: 12em;
    padding: 0.4em;
    font-size: 1.2em;
    background-color: lightcoral;
    color: white;
    border-radius: 0.6em;
    border-width: 1px;
    margin-top: 1em;
    cursor: pointer;
}

.users_btn:hover{
    filter: sepia(1.2);
}

.users_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, auto));
    gap: 1.5em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}